#places {
    margin-top: 0;
}

#searchBox > * {
    margin-right: 6px;
}

#searchBox > br ~ * {
    margin-top: 10px;
}

#clearButton {
    margin-left: 25px;
}

img[src="wikipedia.ico"] {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin-left: 7px;
}