*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

#placesList {
    margin-top: 0.4rem;
    border-collapse: collapse;
    letter-spacing: 0.3px;
    margin-bottom: 1rem;
    border-radius: 8px;
    width: fit-content;
}

#placesList th,
td {
    border: 1px solid black;
    padding: 0.5rem 0.625rem;
}

#placesList .wiki_link {
    text-align: center;
}

#placesList tr:has(> th) {
    background-color: rgb(218, 223, 228);
}

#placesList tr:has(> td):nth-of-type(even) {
    background-color: rgb(233, 233, 238);
}

.flex-container {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: start;
    gap: 0.875rem;
    margin-bottom: 0.75rem;
    flex-wrap: wrap;
    align-items: center;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    border: 1.5px solid #9b9b9e;
    /* padding: 0.8rem; */
}

#options label[for] {
    font-size: 0.94rem;
}

#options *:not(legend) {
    user-select: none;
    -webkit-user-select: none;
}

button {
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    background-color: #0a66c2;
    padding: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

button:hover {
    background-color: #16437e;
}

button:active {
    background-color: #09223b;
    color: rgba(255, 255, 255, 0.7);
}

button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
}

#clearButton {
    margin-left: 1.55rem;
}

.wiki_link img {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 5px;
    background-color: white;
    padding: 0.1rem;
    border: 1px solid rgba(0, 0, 0, 45%);
}

#inputField {
    border: 1.5px solid #cac2c2;
    border-radius: 7px;
    padding: 0.375rem 0.5rem;
    background-color: white;
    appearance: none;
    width: clamp(140px, 12vw, 200px);
}

input[type="checkbox"] {
    accent-color: hsl(212, 58%, 39%);
    width: 1.05rem;
    height: 1.05rem;
}

input[type="checkbox"]:hover {
    accent-color: hsl(212, 58%, 29%);
}

input[type="checkbox"]:active {
    accent-color: hsl(212, 58%, 19%);
}

/* select[id] {
    appearance: none;
    padding: 0.4rem 2.5rem 0.4rem 0.7rem;
    background-color: white;
    border: 1.5px solid #cac2c2;
    border-radius: 7px;
    color: black;
}

select:hover {
    background-color: hsl(0, 0%, 90%);
}

select:active {
    background-color: hsl(0, 0%, 80%);
} */
